<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="1;url=http://physic-box.com">
        <script type="text/javascript">
            window.location.href = "http://physic-box.com"
        </script>
        <title>PhysicBox - Page Redirection</title>
    </head>
    <body style="background: #49B870; color: white;">
        If you are not redirected automatically, follow the <a href='http://physic-box.com'>link to the official website</a>
    </body>
</html>